.game-list {
  margin-top: 20px;
  padding-left: 0;
}

.city, .score {
  font-weight: bold;
}

#q-container p {
  font-size: 2rem;
  margin-top: 20px;
}

.button-group {
  overflow: hidden;
}

#confirm {
  float: left;
}

.alert {
  background-color: rgba(234, 217, 23, 0.21);
  margin-top: 20px;
}

.btn-group {
  margin-top: 10px;
}