.map-container {
  position: relative;
  height: 300px;
  width: 100%;
  margin-bottom: 10px;

  &.error {
    box-shadow: 0 0 5px 0px red;
  }

  .overlay.active {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #7e6868;
  }
}

#map { 
  cursor: crosshair;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  // height: 300px;
}