<h1>Capital Cities</h1>

<h2 class="lead">Place each city in their geographic location</h2>

<div class="panel panel-default">
  <p class="panel-heading">Your current score is</p> 
  <p class="panel-body"><span class="score">1500</span></p>
</div>

<!-- the question -->
<div id="q-container">
  <p>Where is... <span class="city">Zurich</span>?</p>
</div>

<!-- the map -->
<figure class="map-container">
  <div id="map"></div>
</figure>

<div class="button-group">
  <button id="confirm" class="btn btn-info disabled pull-left" data-ng-model="result" data-ng-click="checkAnswer(result, latlng)">Check your answer</button>
  <button id="continue" class="btn btn-info disabled pull-right">Continue</button>
</div>

<p class="alert alert-block"><span class="answer">Your result shows in here</span></p>

<script type="application/json">
{ 
  "capitalCities": 
  [
    {
      "capitalCity": "Zurich",
      "capitalOf": "Switzerland",
      "lat": "47.367806",
      "long": "8.532595"
    },
    {
      "capitalCity": "Paris",
      "capitalOf": "France",
      "lat": "48.856261",
      "long": "2.347403"
    },
    {
      "capitalCity": "Madrid",
      "capitalOf": "Spain",
      "lat": "40.416135",
      "long": "-3.698076"
    },
    {
      "capitalCity": "London",
      "capitalOf": "United Kingdom",        
      "lat": "51.528214",
      "long": "-0.127691"
    },
    {
      "capitalCity": "Berlin",
      "capitalOf": "Germany",
      "lat": "52.516318",
      "long": "13.382564"
    },
    {
      "capitalCity": "Amsterdam",
      "capitalOf": "Netherlands",
      "lat": "52.370000",
      "long": "4.895524"
    },
    {
      "capitalCity": "Rome",
      "capitalOf": "Italy",
      "lat": "41.904194",
      "long": "12.502352"
    },
    {
      "capitalCity": "Oslo",
      "capitalOf": "Norway",
      "lat": "59.923290",
      "long": "10.750098"
    },
    {
      "capitalCity": "Vienna",
      "capitalOf": "Austria",
      "lat": "48.209933",
      "long": "16.377313"
    }
  ]
}</script>