<div class="jumbotron">
  <h1>City knowhow!</h1>
  <p class="lead">Think you know about geopolitics? Try your luck with our game!</p>
  <p class="intro">You'll start off with 1,500 points (=km) and you'll have to place some cities on the map. If you set your locations wrong, the score will go down proportionally - the further you place them from their actual position, the more the score will go down ;)</p>
  <a data-ng-click="goForIt()" class="btn btn-success" data-ng-href="#/game">Go for it! <span class="glyphicon glyphicon-ok"></span></a>
</div>